.rectangle{
  height:50px;
  background:#E5103A;
}

.rectangle2{
  height:120px;
  background:#F7BEC8;
}

#pic{
  margin-left: 80%;
  width: 20%;
  height: 300%;
  margin-top: -8%;
}

#center{
  text-align: center;
}

#btn1,#btn2{
  text-align: center;
  width: 22%;
  font-size: 300%;
}

#user{
  font-size: 500%;
}

#ltr{
  text-align: right;
  direction: rtl;
}

#tbl{
  margin: 0%;
  /* height: 300px; */
  width: 90%;
  text-align: center;
  font-size: 200%;
  /* padding: 10px;   */
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
font-size: 20px;
}

#btnOK {
float: left;
background-color: #1C6BB4;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 25px;

}

.container {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
font-size: 25px;
}

.container {
  padding: 50px;
  background-color: #fffefe;
  margin: auto;
  width: 50%;
} 


/* style inputs and link buttons */
input,
.btn {
width: 100%;
padding: 12px;
margin: 5px 0;
font-size: 17px;
line-height: 25px;
}
/* style the submit button */
input[type=submit] {
background-color: #1C6BB4;
color: white;
}
input[type=submit]:hover {
background-color: #E5103A;
}

/* Two-column layout */
.col {
float: left;
width: 50%;
padding: 0 50px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
.col {
  width: 100%;
  margin-top: 0;
}
/* hide the vertical line */
.vl {
  display: none;
}
/* show the hidden text on small screens */
.hide-md-lg {
  display: block;
  text-align: center;
}
}

.center{
  margin: auto;
  width: 50%;
  padding: 5px;
}

input[type=text] {
  box-sizing: border-box;
  border: none;
  background-color: #d6d1d1;
  color: white;
}

input[type=password] {
  box-sizing: border-box;
  border: none;
  background-color: #d6d1d1;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
 
#search {
  display: block;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}

label {
  align-items: center;
  justify-content: center;
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  margin: 0 auto;
  font-size: x-large;
  text-align: right;

}
#btn3{
  float: left;
  margin-left: 15%;

  background-color: #1C6BB4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: x-large;

}

#address{
  font-size: medium;
}
.button_login {

  background-color: #1f6acc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;

}
.button_list{
  
    background-color:  #1f6acc;
    border: 1px solid rgb(239, 240, 239); 
    color: white; /* White text */
    width: 20%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    margin-left:50px;
    margin-right:50px; 
    text-align: center;
    margin: auto;
    text-decoration-line:none;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;    
}

.homeBtn{
  direction: ltr;
  color:  #1f6acc;
  background-color:  white;
  border: none;
  font-size: 20px;
}


